{{#each checkboxes as |checkbox|}}
  {{#if hasBlock}}
    {{yield checkbox.label checkbox.isSelected}}
  {{else}}
    <li>
      <label>
        {{input type="checkbox" checked=checkbox.isSelected disabled=disabled}}
        {{checkbox.label}}
      </label>
    </li>
  {{/if}}
{{/each}}
