{{#each checkboxes as |checkbox index|}}
  {{#if hasBlock}}
    {{yield checkbox.option checkbox.isSelected index}}
  {{else}}
    <li>
      <label>
        {{input type="checkbox" checked=checkbox.isSelected disabled=disabled}}
        {{checkbox.label}}
      </label>
    </li>
  {{/if}}
{{/each}}
