<header>
  <h1 id='title'>Ember multiselect-checkboxes tests</h1>

  {{#link-to 'primitives-test'}}Primivites test{{/link-to}} |
  {{#link-to 'plain-objects-test'}}Plain JS objects test{{/link-to}} |
  {{#link-to 'ember-objects-test'}}Ember objects test{{/link-to}} |
  {{#link-to 'block-params-test'}}Block params test{{/link-to}} |
  {{#link-to 'long-option-list-test'}}Long option list test{{/link-to}}
  {{#link-to 'immutability-test'}}Immutability test{{/link-to}}
</header>

{{outlet}}
