<header>
  <h1 id='title'>Ember multiselect-checkboxes tests</h1>

  {{#link-to 'primitivesTest'}}Primivites test{{/link-to}} |
  {{#link-to 'plainObjectsTest'}}Plain JS objects test{{/link-to}} |
  {{#link-to 'emberObjectsTest'}}Ember objects test{{/link-to}} |
  {{#link-to 'blockParamsTest'}}Block params test{{/link-to}} |
  {{#link-to 'longOptionListTest'}}Long option list test{{/link-to}} |
  {{#link-to 'immutabilityTest'}}Immutability test{{/link-to}} |
  {{#link-to 'promiseLabelsTest'}}Promise labels test{{/link-to}}
</header>

{{outlet}}
