<h2>Test with long option list</h2>

<p>Selected options:
  <ul>
    {{#each this.selectedOptions as |selectedOption|}}
      <li>{{selectedOption}}</li>
    {{/each}}
  </ul>
</p>

<p>
  <Multiselect-checkboxes @options={{this.options}} @selection={{this.selectedOptions}}/>
</p>
