<h2>Test with array of plain js objects</h2>

<p><Multiselect-checkboxes @options={{this.cars}} @selection={{this.selectedCars}} @labelProperty="make"/></p>

<p>Selected cars:
  <ul>
    {{#each this.selectedCars as |car|}}
      <li>make: {{car.make}}, color: {{car.color}}</li>
    {{/each}}
  </ul>
</p>
