<h2>Test with array of primitives</h2>

<p><Multiselect-checkboxes @options={{this.fruits}} @selection={{this.selectedFruits}}/></p>

<p>Selected fruits:
  <ul>
    {{#each this.selectedFruits as |fruit|}}
      <li>{{fruit}}</li>
    {{/each}}
  </ul>
</p>
